*{
    margin: 0;
    padding: 0;

}
.header{
    width: 100%;
    height: 145.8px;
    background-color: #263238;
}
.top-header a{
    box-sizing: border-box;
    outline: rgb(62, 60, 60)  dashed 0.8px;
}
.top-header{
    height: 51px;
    background-color: #263238;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    outline: rgb(69, 66, 66)  solid 0.8px;
}
.rigth-side a img{
    width: 14px;
    height: 14px;
}
.left-side{
    margin-top: 15px;
}
.left-side a{
    font-size: 14px;
    font-family: sans-serif;
    line-height: 21px;
    color: rgb(206, 206, 206);
    text-decoration: none;
    list-style: none;
   
    padding: 10px 20px;
    text-align: center;
}
.rigth-side a{
    font-size: 14px;
    font-family: sans-serif;
    line-height: 21px;
    color: rgb(206, 206, 206);
    text-decoration: none;
    list-style: none;    
    padding: 10px 20px;
    text-align: center;
}
.rigth-side{
    margin-top: 15px;
}

.bottom-header{
    display: flex;
    justify-content: space-around;
    margin-top: 6px;
    height: 90px;
    }
.bottom-right ul a li {
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
    font-family: sans-serif;
    line-height: 21px;
    color: rgb(206, 206, 206);
    text-decoration: none;
    list-style: none;    
    padding: 10px 20px;
    text-align: center;
}
.logo {
    margin-bottom: 10px;
}
.items{
    height: 60px;
    margin-top: 20px;
}
.items button{
    background-color: rgb(84, 201, 156);
    height: 40px;
    width: 138px;
    border-radius: 10px;
    color: white;
    padding: 10px 25px 10px 25px;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
        
}


.banner-image img{
    width: 100%;
    height: 700px;
}
.banner-text{
   position: absolute;
    top: 70%;
    left: 40%;
    height: 300px;
}
.banner-text h1{
     font-family: sans-serif;
     color: white;
     font-size: 40px;
     font-weight: 700;
     line-height: 40px;
     text-align: center;
     text-transform: uppercase;
}
.banner-text h6{
    font-family: sans-serif,Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 14px;
    font-weight: 540px;
    line-height: 24px;
    text-align: center;
    height: 24px;
    
}
/* ------------------------------------------------------------- */
.row{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.left-colum img{
    height: 633px;
    width: 480px;
}
.rigth-colum{
    padding-top: 40px;
}
.rigth-colum h1{
  font-size: 36px;
  font-weight: 300;
  line-height: 40px;
  text-decoration: none solid ;
  color: rgb(0,86,179);
}
.rigth-colum p{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-decoration: none solid ;
    color: #8D97AD;
}
.rigth-colum  a {
    text-decoration: none solid ;
    color: #0056B3;
}
.rigth-colum  a button{
    height: 50px;
    width: 235px;
    position: relative;
    padding: 15px 45px 15px 45px;
    font-size: 16px;
    line-height: 20px;
    background-color: rgb(58, 186, 133);
    color: white;
    border: solid white;
    border-radius: 20px;
}
 h1{
    text-align: center;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 500px;
    line-height: 40px;
    color: #3E4555;
    padding: 25px;
}
/* ---------------------------------------------------------------------------- */
.colum1 img{
    height: 360px;
    width: 550px;
}
.content-row{
    display: flex;
    justify-content:space-around;
    margin-left: 180px;
    margin-right: 180px;
}

.paragraph h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none solid rgb(0,86,179);
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
    color: #0056B3;
}
.paragraph p{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    
    text-align: center;
    
    font-family: sans-serif;
    color: #8D97AD;
}
.content-row2{
    display: flex;
    justify-content:space-around;
    margin-top: 30px;
    margin-left: 170px;
    margin-right: 170px;
}

.images img{
    height: 615px;
    width: 100%;
    overflow: scroll;
    display: inline;
    overflow: clip;
    vertical-align: middle;
    transition: all 0s ease 0s;
}
/* /--------------------------------------------/ */
.section2{
    height: 536px;
    background-color: rgb(7, 215,156);
    margin-top: 70px;
}
.quotation{
    text-align: center;
    align-items: center;
    
}
.quote h3{
    padding-top: 200px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    
}
.quote img{
    height: 60px;
    width: 60px;
    padding-top: 20px;
}
.quote h4{
    font-size: 18px;
    color: white;
    font-weight: 700;
    line-height: 25px;
    height: 20px;

}
.quote h6{
    color: white;
    padding-top: 10px;
}
.For-vedios{
    margin-top: 30px;
}
.For-vedios h2{
    padding-top: 20px;
    text-align: center;
}
.For-vedios h5{
    text-align: center;
    padding-top: 30px;
}
.youtube{
    padding-top: 50px;

    display: flex;
    justify-content: space-around;
    background-color: #f0f6f9;
}
.spacer{
    height: 600px;
    background-color: #f0f6f9;
    margin-top: -30px;
}
.signup-page{
     width:525px;
     height:450px;
     background-color: white;
     margin: 30px;
}
.signup-page input{
    border:2px solid rgb(175, 174, 174);
}
.iframe{
    margin: 30px;
    
}
.sign-map{
    
    display: flex;
    justify-content: center;
}
.first{
    display: flex;
    justify-content:space-between ;
}
.box1{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 515px;
    height: 78px;
}
.second-one input{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none solid rgb(175, 174, 174);  
    padding: 12px;
    cursor: text;
    display: block;
    width: 210px;
    border-radius: 6px;

    height: 30.2px;
    margin-right: 9px;
    
}
.first-one input{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none solid rgb(175, 174, 174);
    padding: 12px;
    cursor: text;
    display: block;
    width: 250px;
    border-radius: 6px;
    border: 2px solid #78828C;
    height: 30.2px;
    margin-right:1px ;
}
.box2{
    width: 515px;
    height: 78px;
}
.box2 input{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none solid rgb(175, 174, 174);
    padding: 12px;
    display: block;
    width: 485px;
    border-radius: 6px;
    
    height: 30.2px;
    
}
.box3{
    width: 515px;
    height: 100px;
   
}
.box3 input{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none solid rgb(175, 174, 174);
    padding: 12px;
    cursor: text;
    display: block;
    width: 485px;
    border-radius: 6px;
    border: 2px solid #78828C;
    height: 70.2px;
}
.signup-page button{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    text-decoration: none solid rgb(175, 174, 174);
    padding: 12px;
    background-color: rgb(7, 215,156);
    display: block;
    width: 90px;
    border-radius: 6px;
    border: 2px solid #78828C;
    height: 40px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.signup-page  a{
 text-decoration: none;
}
/* ------------------------------- */
.footer-row{
display: flex;
justify-content: center;
margin-top: 40px;
}
.footer-colum1 img{
    height: 84px;
    width: 160px;
}
.footer-colum1{
    height: 274px;
    width: 285px;
}
.footer-colum2{
    margin-top: 40px;
    height: 254px;
    width: 285px;
}
.footer-colum3{
    height: 274px;
    width: 285px;
}
.footer-colum4{
    height: 250px;
    width: 280px;
}
.footer-colum1 p{
    font-size: 16px;
    font-weight: 300;
    color: rgb(187, 187, 187);
}
.footer-colum2 p{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(187, 187, 187);
}
.footer-colum3{
    margin-top: 36px;
}
.footer-colum4{
    margin-top: 50px;
}
.footer-colum3 li{
    list-style-type: none;
    color: rgb(187, 187, 187);
    line-height: 36px;
}

.footer-colum4 li{
    list-style-type: none;
    color: rgb(187, 187, 187);
    line-height: 36px;
}

.p p{
    color: grey;
    padding-left: 100px;
}
.p a{
text-decoration: none;
color: blue;
}